.footer {
  background-color: #000;
  width: 100%;
  margin: 0;
  padding-block: 10px;
  // position: absolute;
  // bottom: 0;

  p {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
  }
}
